.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

.eslintcache

# unplugin-auto-import 类型声明文件
auto-imports.d.ts

# unplugin-vue-components 类型声明文件
components.d.ts
